section {
  display: flex;
  flex-direction: column;
  gap: 2em;

  .animalContainer {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 80%;
      object-fit: cover;
    }
  }
}

.hungerStatusContainer {
  display: flex;
  align-items: center;

  .hungerStatus {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    padding-left: 1em;
    background-color: rgb(119, 104, 104);
  }

  .statusNotFed {
    background-color: rgb(200, 67, 67);
  }

  .statusFed {
    background-color: rgb(101, 167, 101);
  }
}
