* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgb(80, 80, 80);
  background-color: #e3e3e3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
